body {
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  width: 380px;
}

li {
  position: relative;
  list-style-type: none;
  border: 1px solid lightgray;
  padding: 15px 15px 15px 0;
}

ul {
  padding: 20px 0;
}

.fa-solid {
  position: absolute;
  right: 8px;
  top: 0;
  padding: 6px;
  margin-top: 10px;
}
